<!-- Container -->
	<div id="container">
		<!-- Header -->
		<div id="header">
			<div id="branding">
				<h1 id="site-name">Login</h1>
			</div>
		</div>
		<!-- END Header -->
		<div class="main" id="main">
		  <div class="content">
			<!-- Content -->
			<div id="content" class="colM">
				<div id="content-main">
					<form method="post" action="{% url 'web:login' %}">
					{% csrf_token %}
					  <div class="form-row">
						<label for="id_username" class="required">Username:</label> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
					  </div>
					  <div class="form-row">
						<label for="id_password" class="required">Password:</label> <input type="password" name="password" autocomplete="current-password" required id="id_password">
					  </div>
					  <div class="submit-row">
						<input type="submit" value="Log in">
					  </div>
					</form>
				</div>
			  <br class="clear">
			</div>
			<!-- END Content -->
<center>
				<div id="footer">
					<p class="mt-5 mb-3 text-muted">
						<a href="{% url 'web:password_reset' %}">Forget Password?</a>    Copyright &copy; 2022 WiAdvance Technology Co. All Rights Reserved.
					</p>
				</div>

		  </div>
		</div>
	</div>
</center>
<!-- END Container -->