{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="data:,">
    <title>Practitioner</title>	
	{% include 'utilities-css.html' %}	
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
	{% include 'utilities-Sidebar.html' %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
			{% include 'utilities-Topbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h3>組織資料 <span class="badge badge-secondary">Practitioner {{ FuncResult }}</span></h3>
						<a href="https://www.hl7.org/fhir/practitioner.html" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
								class="fas fa-download fa-sm text-white-50"></i>Practitioner Release 4B</a>
					</div>					
					<form method="post" action="{% url 'Practitioner' %}">
					{% csrf_token %}
					<div class="form-group">
						<div class="form-row">
							<div class="form-group col-md-1">
							  <select name="method" class="form-control">
								<option value="GET" >查詢</option>
								<option value="POST" >新增</option>
								<option value="PUT" >修改</option>
								<option value="DELETE" >刪除</option>
							  </select>
							</div>
							<div class="form-group col-md-1">
								<label>ID(S)</label>
							</div>
							<div class="form-group col-md-1">
								<input type="text" class="form-control" name="id">
							</div>
							<div class="form-group col-md-1">
								<label>identifier(S)</label>
							</div>
							<div class="form-group col-md-1">
								<input type="text" class="form-control" name="identifier">
							</div>
							<div class="form-group col-md-1">
								<label >name</label>
							</div>
							<div class="form-group col-md-1">
								<input type="text" class="form-control" name="name">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-1">
								<label >telecom</label>
							</div>
							<div class="form-group col-md-1">
								<input type="text" class="form-control" name="telecom">
							</div>
							<div class="form-group col-md-1">
								<label >telecom fax</label>
							</div>
							<div class="form-group col-md-1">
								<input type="text" class="form-control" name="fax">
							</div>

							<div class="form-group col-md-1">
								<label >telecom email</label>
							</div>
							<div class="form-group col-md-1">
								<input type="text" class="form-control" id="email" name="email">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-1">
							  <label>address city</label>
							</div>
							<div class="form-group col-md-1">
								<select name="city" class="form-control">
									<option >臺南市</option>
									<option >彰化縣</option>
									<option >嘉義縣</option>
									<option >新竹縣</option>
									<option >花蓮縣</option>
									<option >宜蘭縣</option>
									<option >金門縣</option>
									<option >連江縣</option>
									<option >苗栗縣</option>
									<option >彰化縣</option>
									<option >南投縣</option>
									<option >澎湖縣</option>
									<option >屏東縣</option>
									<option >臺東縣</option>
									<option >雲林縣</option>
									<option >嘉義市</option>
									<option >新竹市</option>
									<option >基隆市</option>
									<option >高雄市</option>
									<option >新北市</option>
									<option >桃園市</option>
									<option >臺南市</option>
									<option >臺北市</option>
									<option >臺中市</option>
									<option >臺灣省</option>
									<option >TW</option>
								</select>
							</div>
							<div class="form-group col-md-1">
							  <label>address postalCode</label>
							</div>
							<div class="form-group col-md-1">
							  <input name="postalCode" class="form-control" oninput="value=value.replace(/[^\d]/g,'')" maxlength="3">
							</div>
							<div class="form-group col-md-1">
							  <label>address line</label>
							</div>
							<div class="form-group col-md-2">
							  <input name="addressline" placeholder=""  class="form-control">
							</div>
							<div class="form-group col-md-1">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>

					
					</div>
					</form>
					{{data.diagnostics}}
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Organization</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th>ID</th>
											<th>identifier</th>
											<th>name</th>
											<th>telecom</th>
											<th>address</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th>ID</th>
											<th>identifier</th>
											<th>name</th>
											<th>telecom</th>
											<th>address</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for entry in data.entry %}
										<tr>
											<td>{{ entry.resource.id }}</td>
											<td>{{ entry.resource.identifier }}</td>
											<td>{{ entry.resource.name }}</td>
											<td>{{ entry.resource.telecom }}</td>
											<td>{{ entry.resource.address }}</td>
										</tr>
										{% endfor %}										 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2022 WiAdvance Technology Co. All Rights Reserved.</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		
	</div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
{% include 'utilities-js.html' %}
</body>

</html>