    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
	<link href="/static/css/font.css" rel="stylesheet">
	<link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	
	<!-- Vendor CSS Files -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="/static/vendor/quill/quill.snow.css" rel="stylesheet">
	<link href="/static/vendor/quill/quill.bubble.css" rel="stylesheet">
	<link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="/static/vendor/simple-datatables/style.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="/static/css/style.css" rel="stylesheet">